*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: "oswald", sans-serif;
    background-color: white;
    font-size: 16px;
}


.container {
   justify-content: center;
	background-image: linear-gradient(to right bottom, rgba(111, 182, 213, 0.8), rgba(145, 174, 164, 0.8)), url("assets/Sawtooth.jpg");
    background-size: cover;
    width: 100%;
    
    margin: 0 auto;
    background-position: top;
  position: relative;
  overflow: hidden;
}

#mainBox h2 {
    font-size: 2rem;
}

#mainBox {
	background-color: rgba(187, 187, 187, .6);
	text-align: center;
    
    width: 70%;
	margin: 2rem auto;
	padding: 2rem;
	position: relative;
	border-radius: 4px;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.09);
}

.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -20;
	opacity: .15;
	overflow: hidden;
}

.bg-video__content {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

label {
	font-size: 1.4rem;
}

input[type=text] {
	padding: 10px;
	border: 0;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
}

#title {
	text-align: center;
}

button {

    display: block;
    margin: 1rem auto 2.5rem auto;
    padding: .25rem 1rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
	
}


table {
    width: 90%;
    margin: 0 auto;
}

table thead.thead-dark tr {
    font-size: 1.5rem!important;
}


.thead-dark{
    background-color: rgba(111, 182, 213, 0.8)!important;
    color: white;
    
}

tr:nth-child(2n+2) {background: #CCC; }

